@use "../screens.scss"as s;

.third-slide {
    position: relative;
    background: url("../../public/assets/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: (100%, 0);
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;

    &__overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 10;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease;

        &.active {
            opacity: 1;
            visibility: visible;
        }
    }

    &__images {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;


        &-bottle {
            width: 200px;
            z-index: 30;

            @include s.lg {
                width: 233px;
            }
        }

        &-left {
            position: absolute;
            top: 20%;
            left: -20%;
            width: 225px;
            z-index: 40;
            animation: animate_move_left 7s infinite;
        }

        &-right {
            position: absolute;
            bottom: 10%;
            left: -10%;
            max-width: 290px;
            z-index: 20;
            animation: animate_move_left 4s infinite ease-in-out;
        }

        &-bottom {
            position: absolute;
            top: 7%;
            left: 15%;
            width: 155px;
            z-index: 20;
            animation: animate_move_bottom 13s infinite linear;
        }

        &-back {
            position: absolute;
            top: 40%;
            right: -20%;
            width: 112px;
            z-index: 20;
            animation: animate_grow 8s infinite;
        }

        &-front {
            position: absolute;
            bottom: -5%;
            right: -25%;
            width: 142px;
            z-index: 40;
            animation: animate_grow 10s infinite;
        }
    }

    &__block {
        position: relative;
        max-width: 1024px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            text-transform: uppercase;
            font-size: 89px;
            letter-spacing: 10px;
            font-weight: 300;
            margin-bottom: 60px;
            padding-left: 60px;

            span {
                font-weight: 600;
            }
        }

        h2 {
            text-transform: uppercase;
            font-size: 25px;
            letter-spacing: 1.5px;
            padding-left: 60px;
        }

        &-text {
            display: flex;
            gap: 30px;
            font-size: 23px;
            font-weight: 300;
            letter-spacing: 1px;

            &-right {
                display: flex;
                flex-direction: column;
                gap: 35px;
            }

            &-first {
                max-width: 320px;

                img {
                    top: -10%;
                }
            }

            &-second {
                max-width: 220px;

                img {
                    top: -15%;
                }
            }

            &__style {
                position: relative;
                padding: 40px 40px 20px 40px;
                background-color: white;
                border-radius: 15%;
                filter: drop-shadow(5px 8px 125px rgba(185, 185, 185, 0.7));


                img {
                    position: absolute;
                    left: 20%;
                    width: 65px;
                }
            }
        }
    }
}

@keyframes animate_grow {
    0% {
        transform: scale(1) translate(0, 0);
    }

    50% {
        transform: scale(1.2) translate(-15px, 0);
    }

    100% {
        transform: scale(1) translate(0, 0);
    }
}

@keyframes animate_move_left {
    0% {
        transform: translate(0, 0);
    }

    50% {
        transform: translate(-20px, -20px);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes animate_move_bottom {
    0% {
        transform: rotate(0deg) translate(10px) rotate(0deg);
    }

    50% {
        transform: rotate(180deg) translate(30px) rotate(-180deg)
    }

    100% {
        transform: rotate(360deg) translate(10px) rotate(-360deg);
    }
}